* {
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif; }

.contenedor {
  margin: 0%;
  padding: 0%; }

/* tipografia */
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold; }

h2 {
  color: black;
  font-family: 'Kaushan Script', cursive;
  text-align: center; }

.contenido {
  padding-top: 150px; }

nav {
  border-radius: 0px; }
  nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    cursor: pointer; }
  nav a:hover {
    color: #F2CB05;
    transition: 300ms linear;
    text-decoration: none; }
  nav .seccion_activa {
    color: #F2CB05; }

@media only screen and (min-width: 360px) {
  .footer {
    background-color: black;
    height: 100%; }
  .footer a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: grey; }
  .completefooter {
    padding-bottom: 20px;
    text-align: center;
    color: whitesmoke;
    text-decoration: solid; } }

@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 20px;
    background-color: black;
    height: 220px; }
  .footer a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: grey; }
  .completefooter {
    padding-bottom: 20px;
    text-align: center;
    color: whitesmoke;
    text-decoration: solid; } }

@media only screen and (min-width: 1200px) {
  .footer {
    background-color: black;
    height: 100%; }
  .footer a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: grey; } }

.facebook-icon {
  background-image: url("../image/logo-facebook.svg");
  background-repeat: no-repeat;
  height: 32px; }

.instagram-icon {
  background-image: url("../image/logo-instagram.svg");
  background-repeat: no-repeat;
  height: 32px; }

.whatsapp-icon {
  background-image: url("../image/logo-whatsapp.svg");
  background-repeat: no-repeat;
  height: 32px; }

footer {
  padding-top: 20px; }

@media only screen and (min-width: 360px) {
  .fondo {
    background-color: #2D3032; }
  .carrusel {
    height: 300px; }
  .contenido {
    height: 100%;
    padding-top: 107px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px; }
  .franja {
    padding-top: 25px;
    background-color: #F2CB05;
    color: whitesmoke; } }

@media only screen and (min-width: 768px) {
  .fondo {
    background-color: #2D3032; }
  .carrusel {
    height: 550px; }
  .contenido {
    height: 100%;
    width: 100%;
    padding-top: 107px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px; }
  .franja {
    padding-top: 25px;
    background-color: #F2CB05;
    color: whitesmoke; } }

@media only screen and (min-width: 1200px) {
  .fondo {
    background-color: #2D3032; }
  .contenido {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px; }
  .completefooter {
    padding-bottom: 20px;
    text-align: center;
    color: whitesmoke;
    text-decoration: solid; }
  .franja {
    padding-top: 25px;
    background-color: #F2CB05;
    color: whitesmoke; } }

main {
  background-color: whitesmoke; }

.typo_nosotros {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  color: #2D3032; }

.us {
  padding-left: 8em;
  padding-right: 8em; }

button .boton {
  border-style: dotted;
  border-color: black;
  border-width: medium;
  border-radius: 15px; }

.typo_contacto {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  color: #2D3032; }

.contenido_contacto {
  background-color: whitesmoke;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px; }

.typo_menu {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  color: whitesmoke; }

button .order {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: black;
  background-color: orange; }

p {
  font-family: 'Roboto', sans-serif; }

.nombre {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: italic; }

.contenido_menu {
  padding-top: 60px; }
