button .boton{
    border-style: dotted;
    border-color: black;
    border-width: medium;
    border-radius: 15px;
}
.typo_contacto{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: $negro;

}

.contenido_contacto{
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
}