nav{
    border-radius: 0px;
     a {
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            color: $blanco;
            cursor: pointer; }
     a:hover {
            color: $amarillo ;
            transition: 300ms linear;
            text-decoration: none; 
        }
    .seccion_activa {
                color: $amarillo; }
    
}
