.typo_menu{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: $blanco;

}
button .order{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
    background-color: $naranja;

}
p{
    font-family: 'Open Sans', sans-serif;
}
.nombre{
   font-family: 'Open Sans', sans-serif;
    font-weight: bold;
     font-style: italic;
}
.contenido_menu{
    padding-top: 60px;
 
 }